acres==0.5.0
aiofiles==25.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
APScheduler==3.11.2
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.1.4
charset-normalizer==3.4.4
ci-info==0.3.0
click==8.3.1
colorama==0.4.6
configobj==5.0.9
configparser==7.2.0
etelemetry==0.3.1
fastapi==0.128.0
filelock==3.20.3
frontend==0.0.3
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
idna==3.11
importlib_resources==6.5.2
itsdangerous==2.2.0
Jinja2==3.1.6
looseversion==1.3.0
lxml==6.0.2
MarkupSafe==3.0.3
networkx==3.6.1
nibabel==5.3.3
nipype==1.10.0
numpy==2.4.1
packaging==26.0
pandas==3.0.0
pathlib==1.0.1
prov==2.1.1
psutil==7.2.2
puremagic==1.30
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydot==4.0.1
PyMuPDF==1.26.7
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
pyxnat==1.6.4
rdflib==7.5.0
requests==2.32.5
scipy==1.17.0
simplejson==3.20.2
six==1.17.0
soupsieve==2.8.3
sse-starlette==3.2.0
starlette==0.50.0
tools==1.0.23
traits==7.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.40.0
websockets==16.0
